*{
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 0px !important;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}
::-webkit-scrollbar {
  width: 20px; 
}

::-webkit-scrollbar-track {
  background: white; 
  border: 3px solid black;
  width: 100%;
}

::-webkit-scrollbar-thumb {
  background: black; 
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
    margin: 0;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    
}
body::-webkit-scrollbar{
  display: none;
}
section{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    
}
nav{
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0px;
    right: 0px;
    font-family: 'Press Start 2P', cursive;
    z-index: 1000;
}
.nav-links{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 25px;
}
.nav-links a{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    animation-name: navAppear;
    animation-duration: 0.5s;
    transition: all 0.3s;
}
.nav-links a:hover{
    color: red;
    transform: scale(1.1) translateX(-5px);
    transition: all 0.3s;
}
@keyframes navAppear {
    0%{
        opacity: 0;
        transform: translatey(-50px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
.nav-socials{
    margin-top: auto;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

.nav-socials i{
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 50px;
    margin-bottom: 25px;
    transition: all 0.3s;
    cursor: pointer;
    color: black;

}
.nav-socials i:hover{
    transition: border 0.1;
    color: red;
    text-shadow: 1px 1px 0px white, 4px 4px 0px black;
    transform: translateY(-5px);
    transition: all 0.3s;
}
.home-text{
    margin-left: 100px;
    width: 75%;
    z-index: 10;
}
.home-text img{
    width: 90%;
}
#home{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#home-blur{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    backdrop-filter: blur(5px);
    background-color:#f5f5f55e;
}
.home-name{
    display: flex;
    gap: 0px;
    font-size: 2.5rem;
    height: 150px;
    align-items: center;
}
.square-cursor{
    height: 50%;
    width: 30px;
    background-color: black;
    
}
.title{
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 75px;
}
#home-learn-more-btn{
    margin-top: 50px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    transition: all 0.3s;
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-learn-more-btn:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
    z-index: 1000;
    box-shadow: 3px 3px 0px 2px white, 7px 7px 0px 2px black;
  }
.nav-link{
    color: black;
}
.active {
   color: #ff0000 !important;  
  }

  #about-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
  }
  #about{
    background-color: #fefbf3;
    /* background-image: url('./images/bg1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  .section-header{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    border-top:3px solid black;
    z-index: 5;
  }
  .section-header h1{
    color: white;
    background-color: black;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 2rem;
  }
  #ff-compose{
    font-family: 'Press Start 2P', cursive;
  }
  #ff-compose img{
    display: none;
    

  }
  .ff-submit{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'press start 2p', cursive;
    font-size: 2rem;
    
  }
  .ff-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .ff-widget-control{
    height: 50px;
    width: 90%;
    border: 3px solid black;
    padding: 15px;
    border-radius: 0;
  }
  .ff-widget-control:focus{
    background-color: black;
    color: white;
  }
  .ff-submit{
    color: black;
    background-color: white;
  }

  #contact-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.541);
  }

  /* contact section */
  #contact{
    /* background-image: url('./images/projects-bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  .contact-content{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    z-index: 3;
  }
  .contact-info,
  .contact-form{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form{
    width: 40%;
  }
  .contact-form div{
    width: 100%;
  }
  .contact-info{
    width: 40%;
    flex-direction: column;
    gap: 25px;
  }
  .contact-button{
    width: 50%;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 5px 5px 0px 2px #000000;
    color: black;
    text-decoration: none;
    background-color: white;
  }
  .contact-button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s;
    transform: scale(1.1);
    box-shadow: 3px 3px 0px 2px white, 7px 7px 0px 2px black;
  }
  .contact-icon{
    width: 30px;
    height: 30px;
  }
  .contact-button:hover .contact-icon{
    filter: invert(100%);
    transform: scale(1.1);
  }



.press-start{
  z-index: 5;
}
  #projects-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    flex: 1;
    backdrop-filter: blur(5px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
  }
  /*projects section */
  #projects{
    align-items: center;
    min-height: 100vh;
    height: auto;
    background-color: #fefbf3;
    z-index: 0;
    /* background-image: url('./images/bg2.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  .projects-container{
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    z-index: 2;
  }
  .projects-category-header{
    width: 80%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    z-index: 2;
  }
  .projects-category{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-body{
    width: 25%;
    height: auto;
    aspect-ratio: 1.5 / 1;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
    box-shadow: 5px 5px 0px 2px #000000;
    margin: 10px 0px;
  }
  .project-image{
    width: 100%;
  }
  .project-title{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-sizing: border-box;
  }
  .project-info{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -150px;
    transition: all 0.2s;
    z-index: 5;
    overflow-y: auto;
    background-color: white;

  }
  .project-stack{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .project-short-desc{
    height: 70px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: small;
    line-height: 1.1rem;
  }
  .project-info:hover{
    bottom: 0px !important;
    transition: all 0.2s;
  }
  .project-body:hover .project-info{
    bottom: -110px;
    transition: all 0.2s;
  }
  .project-body:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 3px 3px 0px 2px white, 7px 7px 0px 2px black;
  }




  /*easter egg mini game */
  
  #start-game-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  #start-game-btn:hover{
    transform: scale(1.1) translateY(-5px);
    color: red;
    transition: all 0.3s;
    text-shadow: 4px 4px 0px white, 6px 6px 0px black;
  }
  .game-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f57a;
    z-index: 1000;
  }
  .game-start-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .game-start-screen img{
    width: 30%;
  }
  #beggin-game-btn{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 2rem;
    transition: all 0.3s;
  }
  #beggin-game-btn:hover{
    background-color: black;
    color: white;
    transition: all 0.3s;
    transform: scale(1.1);
    box-shadow: 3px 3px 0px 2px white, 7px 7px 0px 2px black;
    }
    .hide{
        display: none;
    }
    .contract{
        height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

  
  .game-body{
    width: 50%;
    height: 75%;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: #f5f5f5;
    position: relative;
    line-height: 1.5;
    animation: expandGame 0.5s;
    overflow: hidden;
  }
  @keyframes expandGame {
    0%{
        height: 6px;
    }
    10%{
        height: 6px;
    }
    100%{
        height: 75%;
    }
  }
  #close-game-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
  }
  #close-game-btn:hover{
    color: red;
  }
  #question-box{
    width: 80%;
    height: 35%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    font-size: 1.5rem;
    box-sizing: border-box;
    
  }
  .choices{
    height: 35%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
  }
  .choice{
    width: 45%;
    height: 40%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  .choice:hover{
    color: white;
    background-color: black;
  }
  .fact-header{
    width: 95%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .fact-header p{
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #fact-box{
    height: 25%;
    width: 80%;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 20px;
    color: transparent;
  }
  #fact-box:hover{
    color: black;
  }

  .right-answer{
    animation: greenPulse 0.5s;
  }
  @keyframes greenPulse {
    0%{
        background-color: black;
    }
    25%{
        background-color: green;
        border: 3px solid white;
        color: white;
    }
    50%{
        background-color: black;
        border: 3px solid black;
        color: white;
   }
    
    75%{
        background-color: green;
        border: 3px solid white;
        color: white;
    }

  }
  .wrong-answer{
    animation: redPulse 0.5s;
  }
  @keyframes redPulse {
    0%{
        background-color: black;
    }
    25%{
        background-color: red;
        border: 3px solid white;
        color: white;
    }
    50%{
        background-color: black;
        border: 3px solid black;
        color: white;
   }
    
    75%{
        background-color: red;
        border: 3px solid white;
        color: white;
    }
  }
  #right-answers{
    color: green;
  }
  #wrong-answers{
    color: red;
  }
  .score{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  .game-score{
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
  }
  .show-game{
    display: flex;
  }

  .game-end-screen{
    background-color: white;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
  }
  .show-end{
    display: flex;
    animation: expandGame 0.3s;
  }


  /* about section */
    #about{
        display: flex;
        flex-direction: column; 
        align-items: center;
        box-sizing: border-box;
        min-height: 100vh;
    }
  .about-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    line-height: 1.5;
    z-index: 5;
  }
  .about-content{
    width: 40%;
    height: 75%;
    border: 4px solid black;
    padding: 25px;
    box-shadow: 12px 12px 0px 4px #000000;
    overflow-y: auto;
    background-color: white;
  }
  .about-profile{
    width: 25%;
    height: 75%;
    border: 4px solid black;
    padding: 25px;
    box-shadow: 12px 12px 0px 4px #000000;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: white;
    overflow-y: auto;
  }
  .profile-picture{
    background-color: rebeccapurple;
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .profile-header{
    background-color: black;
    color: white;
    width: 80%;
    padding: 5px 15px;
    
  }
.skills-container{
    display: flex;
    gap: 10px;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}
.skill{
    height: 50px;
    width: 50px;
}
.skill-img{
  width: 100%;
  height: 100%;
}
.lang-squares-container{
    height: 50px;
    display: flex;
    gap: 10px;
}
.square{
    width: 30px;
    height: 30px;
    border: 3px solid black;
    box-shadow: 4px 4px 0px 1px #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full{
    background-color: #000000;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
.description-text{
    margin: 15px 0;
}
.description-text a{
    color: red;
    text-decoration: none;
    transition: all 0.3s;
}
.description-text a:hover{
    text-decoration: underline;
    transition: all 0.3s;
}



#menu-btn{
  display: none;
  align-items: center;
      justify-content: center;  
}

@media only screen and (max-width: 600px) {
    #menu-btn{
      display: flex;
      position: absolute;
      top: 25px;
      right: 30px;
      font-size: 2rem;
    }
    nav{
      width: 100vw;
      position: fixed;
      z-index: 1000;
      top: 0px;
      height: 55px;
      transition: all 0.2s;
      overflow: hidden;
      background-color: transparent;
    }
    .show-nav{
      height: 400px;
      transition: all 0.2s;
      background-color: white;

    }
    .nav-links{
      margin-top: 50px;
      height: 200px;
      width: 100%;
      flex-direction: column;
      gap: 0p;
      
    }
    .nav-links a{
      width: 100%;
      height: 50px;
      
    }
    .nav-socials{
      height: 150px;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      align-items: center;
      margin: 0;
      background-color: rgba(211, 211, 211, 0.329);

    }
    .nav-socials i{
      margin: 0;
    }
    #start-game-btn{
      margin: 0;
      padding: 0;
      width: 50px;
      height: 50px;
    }
    .section{
        height: auto;
        flex-direction: column;
    }
    .home-text{
        width: 90%;
    }
    .section-header h1{
        width: 100%;
    }
    #about{
        height: auto;
        width: 100%;
        
    }
    .about-container{
        flex-direction: column;
        gap: 25px;
        width: 80%;
        box-sizing: border-box;
        padding: 25px 0px;
        font-size: 0.8rem;
    }
    .about-profile{
        width: 90%;
        height: auto;
    }
    .about-content{
        width: 90%;
        height: auto;
    }
    #projects{
        height: auto;
        flex-direction: column;
        
    }
    .projects-container{
        width: 95%;
        height: auto;
    }
    .projects-category-header{
        width: 95%;
        line-height: 1.3;
        height: auto;
    }
    .projects-category{
        height: auto;
        flex-direction: column;
    }
    .project-body{
        width: 95%;
    }
    .project-info{
        bottom: -110px;
    }
    .contact-content{
        flex-direction: column;
        gap: 25px;
        align-items: center;
        width: 100%;
    }
    #contact{
        height: auto;
        
    }
    .contact-info,
    .contact-form{
        width: 100%;
    }
    .contact-button{
        width: 80%;
    }
    .contact-info{
        margin-bottom: 50px;
    }
    .home-text{
        width: 90%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .home-name{
        width: 100%;
        font-size: 1.3rem;
    }
    .title{
        font-size: 1rem;
    }
    .square-cursor{
        display: none;
    }
    #home{
        align-items: center;
        line-height: 1.5;
    }
    #home-learn-more-btn{
        align-self: center;
        width: 75%;
        height: 75px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .ff-partial{
        box-sizing: border-box;
        margin-top: 10px !important;
    }
    .ff-submit{
        width: 100%;
    }
    #Widget182995808{
      width: 100% !important;
      height: 150px;
      box-sizing: border-box;
    }
    .game-body{
      width: 95%;
    }
    #question-box,
    .choices,
    #fact-box{
      width: 95%;
      font-size: 1rem;
    }
    .choice,
    #fact-box{
      font-size: 0.7rem;
    }
    .choice:hover{
      background-color: transparent;
      color: black;
    }
    .start-title{
      text-align: center;
    }

  }